# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo

# Unity test framework
unity.c
unity.h
unity_internals.h

# Any executable names
maze/maze_sdl2
maze/testmaze_sdl2
https/maze_https_mongo
https/maze_https_redis
http/maze_http_mongo
maze/missions/mission_dashboard
https/maze_https_minipupper
testmaze
tests/test_maze_https_redis
tests/test_maze_https_mongo

# Build & temp
bin/
build/
*.bak
*.zip
maze/maze_state.json
